@font-face {
  font-family: 'Mourgen';
  src: url('../fontes/MOURGEN.otf');
  font-family: 'Inter';
  src: url('../fontes/Inter/Inter-VariableFont_slnt\,wght.ttf');
  font-family: 'Billie';
  src: url("../fontes/Billie\ Eilish.otf");
}
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}
body
{
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  background-color: #F8F9FA;
}
.navbar{
  height: 10rem;
}
#cabecalho{
  background-color: #ffffff00;
  margin-bottom: -10rem;
}
.home
{
  height: 700px;
  padding: 0 5%;
  color: #171111;
  justify-content: center;
  align-content: center;
  font-family: Times, serif;
}

.para-content
{
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  text-align: center;
}

  
  .janela-boa{
  width: auto;
  margin-top: 5rem;
  text-align: center;
  color: #ffffff;
  background-color: #2a2626;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 10px;
  font-family: "Billie", "Inter";
    
  }
  .janelas-conta{
    display: grid;
    width: auto;
    height: 980px;
    align-content: center;
    justify-content: center;
    margin: 60px 80px 40px 4px;
    grid-template-columns: repeat(2, 300px);
    column-gap: 200px;
    row-gap: 100px;
    background: url(../img/Plano-de-fundo/Direito2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: start;
    padding: 0;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
  }
  .janelas{
    padding: 0;
    margin: 0;
    border: 1px solid goldenrod ;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
  }
  .janelas h1{
    font-size: 2rem;
    text-shadow: 1px 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #151501;
    align-self: center;
  }
  .janelas button{
    width: 200px;
    text-align: center;
    height: auto;
    justify-content: center;
    align-self: center;
    border: none;
    border-radius: 100px;
    font-size: 30px;
    background: #2a2626;
    color: rgb(255, 255, 255);
  }
  .janelas button:hover{
    color: #f3de88;
  }
  .janelas1{
    width: 300px;
    height: 300px;
    background: url(../img/img-tabela/4familia.png);
    background-size: cover;
  }
  .janelas2{
    width: 300px;
    height: 300px;
    background: url(../img/img-tabela/1balanca.png);
    background-size: cover;
  }
  .janelas3{
    width: 300px;
    height: 300px;
    background: url(../img/img-tabela/2trabalho.png);
    background-size: cover;
  }
  .janelas4{
    width: 300px;
    height: 300px;
    background: url(../img/img-tabela/3transito.png);
    background-size: cover;
}

.home .imagem .img-1,
.home .imagem .img-2,
.home .imagem .img-3,
.home .imagem .img-4,
.home .imagem .img-5
{
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
}
.home .imagem .img-1
{
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
  background-position: center;
  background-size: cover;
}

.home .imagem .img-2
{
background: url();
background-position: center;
background-size: cover;
opacity: 0.4;
top: 7rem;
}

.home .imagem .img-3
{
  background: url();
  background-position: center;
  background-size: cover;
}

@media (max-width:1080px)
{
  body, html {
    overflow-x: hidden!important;
    }
    .home
    {
      min-width: 390px;
    }
    .home h1 
    {
      margin-top: 5px;
      font-size: 2rem;
      font-weight: 500;
    }
    .home h2 
    {
      margin-top: 10px;
    }
    
    .home .imagem .img-1
   {
    background: url(../img/Plano-de-fundo/img-1.jpg);
    background-position: center;
    background-size: contain left;
    border-bottom: 5px solid black;
  }
    #toggle
    {
      display: flex;
    }
}

@media (max-width:800px)
{
  body, html {
    overflow-x: hidden!important;
    }
    .home
    {
      min-width: 390px;
    }
    .home h1 
    {
      margin-top: 5px;
      font-size: 2rem;
      font-weight: 500;
    }
    .home h2 
    {
      margin-top: 10px;
    }
    
    .home .imagem .img-1
   {
    background: url(../img/Plano-de-fundo/img-1.jpg);
    background-position: center;
    background-size: contain left;
    border-bottom: 5px solid black;
  }
    #toggle
    {
      display: flex;
    }
}

@media (max-width:600px)
{
  body, html {
    overflow-x: hidden!important;
    }
    .home
    {
      min-width: 390px;
    }
    .home h1 
    {
      margin-top: 5px;
      font-size: 2rem;
      font-weight: 500;
    }
    .home h2 
    {
      margin-top: 10px;
    }
    
    #toggle
    {
      display: flex;
    }
}

@media (max-width:500px)
{
  body, html {
    overflow-x: hidden!important;
    margin: 0;
    padding: 0;
    }
    
    .home
    {
      min-width: 300px;
    }
    .home h1 
    {
      margin-top: 3px;
      letter-spacing: 2px;
      font-size: 30px;
      font-weight: 700;
    }
    .home h2 
    {
      margin-top: 10px;
      font-size: 5px;
      font-weight: 700;
    }
   
    
    .home .imagem .img-1
   {
    background: url(../img/Plano-de-fundo/img-1.jpg);
    background-position: center;
    background-size: contain left;
    border-bottom: 5px solid black;
  }

  .home .imagem .img-2
  {
  background: url(../img/LOGO-SEM-FUNDO/Ouro-pura-Photoroom.png);
  background-position: center;
  background-size: cover;
  opacity: 0.4;
  top: 7rem;
  }

    #toggle
    {
      display: flex;
    }
}